/* 小于 640*/
@media (max-width: 640px) {
    body {
        padding: 6px 12px;
    }
    /* header*/
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 135px;
        z-index: 999;
    }
    .header .top {
        height: 50px;
        padding: 0 20px;
        background-color: #2299ee;
        color: #fff;
    }
    .header .top .title {
        line-height: 50px;
        font-size: 16px;
    }
    .header .top .user {
        text-align: center;
    }
    .header .top .userinfo {
        display: none;
    }
    .header .top .userlogo {
        display: none;
    }
    .header .top .menu {
        display: block;
        padding: 15px 0;
    }
    .header .top .menu img {
        height: 20px;
    }
    .header .top .user .name {
        font-size: 14px;
    }
    .header .nav {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        overflow: auto;
        z-index: 999;
    }
    .header .nav a {
        display: block;
        height: 55px;
        line-height: 55px;
        padding: 0 20px;
        font-size: 18px;
        color: #666;
    }
    .header .nav .active a,
    .header .nav a:hover {
        border-bottom: 4px solid #2299ee;
        color: #2299ee;
    }
    /* sider */
    .sider {
        display: none;
        position: absolute;
        padding-top: 150px;
        padding-bottom: 15px;
        left: 20px;
        top: 0;
        width: 300px;
        height: 100%;
        z-index: 99;
    }
    .sider .content {
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        background-color: #fff;
    }
    .sider .content .user {
        padding: 40px 0;
        border-bottom: 1px solid #efefef;
        overflow: hidden;
    }
    .sider .content .userlogo {
        width: 100px;
        text-align: right;
    }
    .sider .content .userinfo {
        padding-left: 10px;
        line-height: 30px;
        text-align: left;
    }
    .sider .content .userinfo .name {
        font-size: 18px;
    }
    .sider .content .userinfo .role {
        font-size: 16px;
        color: #999;
    }
    .sider .content .list {
        padding: 20px 0;
        line-height: 30px;
    }
    .sider .content .list .title {
        padding:0 12px;
        background-color: #eaf6ff;
        color: #2299ee;
    }
    .sider .content .list .sublist {
        padding-left: 34px;
    }
    .sider .content .list .sublist .item {
        list-style: disc;
    }
    .sider .content .list .sublist .item a:hover {
        color: #666;
        text-decoration: underline;
    }
    .sider .content .list .sublist span {
        color: #f00;
    }
    /* main */
    .main {
        width: 100%;
        height: 100%;
        padding-top:50px;
    }
    .main .content {
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        background-color: #fff;
    }
}

/* 小于 920px*/
@media (min-width: 640px) {
    /* header*/
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 135px;
        z-index: 999;
    }
    .header .top {
        height: 80px;
        padding: 0 20px;
        background-color: #2299ee;
        color: #fff;
    }
    .header .top .title {
        line-height: 80px;
        font-size: 24px;
    }
    .header .top .user {
        text-align: center;
    }
    .header .top .userinfo {
        padding: 20px 10px;
    }
    .header .top .userlogo {
        padding: 10px 0;
    }
    .header .top .menu {
        display: block;
        padding: 20px 0 20px 10px;
    }
    .header .top .user .name {
        font-size: 14px;
    }
    .header .nav {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        overflow: auto;
        z-index: 999;
    }
    .header .nav a {
        display: block;
        height: 55px;
        line-height: 55px;
        padding: 0 20px;
        font-size: 18px;
        color: #666;
    }
    .header .nav .active a,
    .header .nav a:hover {
        border-bottom: 4px solid #2299ee;
        color: #2299ee;
    }
    /* sider */
    .sider {
        display: none;
        position: absolute;
        padding-top: 150px;
        padding-bottom: 15px;
        left: 20px;
        top: 0;
        width: 300px;
        height: 100%;
        z-index: 99;
    }
    .sider .content {
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        background-color: #fff;
    }
    .sider .content .user {
        padding: 40px 0;
        border-bottom: 1px solid #efefef;
        overflow: hidden;
    }
    .sider .content .userlogo {
        width: 100px;
        text-align: right;
    }
    .sider .content .userinfo {
        padding-left: 10px;
        line-height: 30px;
        text-align: left;
    }
    .sider .content .userinfo .name {
        font-size: 18px;
    }
    .sider .content .userinfo .role {
        font-size: 16px;
        color: #999;
    }
    .sider .content .list {
        padding: 20px 0;
        line-height: 30px;
    }
    .sider .content .list .title {
        padding:0 12px;
        background-color: #eaf6ff;
        color: #2299ee;
    }
    .sider .content .list .sublist {
        padding-left: 34px;
    }
    .sider .content .list .sublist .item {
        list-style: disc;
    }
    .sider .content .list .sublist .item a:hover {
        color: #666;
        text-decoration: underline;
    }
    .sider .content .list .sublist span {
        color: #f00;
    }
    /* main */
    .main {
        width: 100%;
        height: 100%;
        padding-top:80px;
    }
    .main .content {
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        background-color: #fff;
    }
}
/* 大于 920px*/
@media (min-width: 920px) {
    /* header*/
    .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 135px;
        z-index: 999;
    }
    .header .top {
        height: 80px;
        padding: 0 20px;
        background-color: #2299ee;
        color: #fff;
    }
    .header .top .title {
        line-height: 80px;
        font-size: 24px;
    }
    .header .top .user {
        text-align: center;
    }
    .header .top .userinfo {
        padding: 20px 10px;
    }
    .header .top .userlogo {
        padding: 10px 0;
    }
    .header .top .user .name {
        font-size: 14px;
    }
    .header .top .menu {
        display: none;
    }
    .header .nav {
        position: relative;
        top: 0;
        display: block;
        height: 55px;
        line-height: 55px;
        font-size: 18px;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        overflow: hidden;
    }
    .header .nav .item {
        float: left;
    }
    .header .nav a {
        display: block;
        height: 55px;
        line-height: 55px;
        padding: 0 20px;
        font-size: 18px;
        color: #666;
    }
    .header .nav .active a,
    .header .nav a:hover {
        border-bottom: 4px solid #2299ee;
        color: #2299ee;
    }
        /* sider */
    .sider {
        display: block;
        position: absolute;
        padding-top: 150px;
        padding-bottom: 15px;
        left: 20px;
        top: 0;
        width: 300px;
        height: 100%;
        z-index: 99;
    }
    .sider .content {
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        background-color: #fff;
    }
    .sider .content .user {
        padding: 40px 0;
        border-bottom: 1px solid #efefef;
        overflow: hidden;
    }
    .sider .content .userlogo {
        width: 100px;
        text-align: right;
    }
    .sider .content .userinfo {
        padding-left: 10px;
        line-height: 30px;
        text-align: left;
    }
    .sider .content .userinfo .name {
        font-size: 18px;
    }
    .sider .content .userinfo .role {
        font-size: 16px;
        color: #999;
    }
    .sider .content .list {
        padding: 20px 0;
        line-height: 30px;
    }
    .sider .content .list .title {
        padding:0 12px;
        background-color: #eaf6ff;
        color: #2299ee;
    }
    .sider .content .list .sublist {
        padding-left: 34px;
    }
    .sider .content .list .sublist .item {
        list-style: disc;
    }
    .sider .content .list .sublist .item a:hover {
        color: #666;
        text-decoration: underline;
    }
    .sider .content .list .sublist span {
        color: #f00;
    }
        /* main */
    .main {
        width: 100%;
        height: 100%;
        padding-top:135px;
        padding-left:320px;
    }
    .main .content {
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        background-color: #fff;
    }
}